* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
  }
  
  body {
    background: linear-gradient(to bottom, #ffffff, #4F0341);
    margin: 0;
    min-height: 100vh; /* Added this line */
    display: flex; /* Added this line */
    flex-direction: column; /* Added this line */
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 999;
  }
  
  .navbar .logo {
    margin-right: auto;
  }
  
  .navbar .logo img {
    height: 60px;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  .navbar li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar li button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }

  h1 {
    font-size: 36px;
    font-weight: 600;
    background-color: transparent; /* Remove the white box background */
    padding: 0; /* Remove any padding */
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add shadow effect */
}
  form {
    width: 100%;
    margin-top: 65px; /* Increase the margin-top value to shift the form further down */
    padding: 30px;
    background-color: linear-gradient(to bottom, #ffffff, #4F0341);
    border-radius: 10px;
  }
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

  /* input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
} */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    color: black;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="button"] {
    background-color: #4F0341;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    font-weight: bold;
  }
  
  button[type="submit"]:hover {
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .back-link {
    position: fixed;
    top: 100px;
    left: 20px;
    color: #4F0341;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    z-index: 1000;
  }
  
  .back-link:hover {
    color: #4F0341;
    transform: scale(1.1);
  }
  
  .back-link i {
    margin-right: 5px;
  }
  
  .checkbox-label {
    display: inline-block;
    vertical-align: middle;
  }
  
  .checkbox-label a {
    text-decoration: underline;
    color: #cc7f32;
    
  }

  .checkbox-label a:hover {
    color: rgba(204, 127, 50, 0.7);
    transform: scale(1.1);
  }
  
  .checkbox-label input {
    vertical-align: middle;
  }
  input[type="file"] {
    width: 100%; /* Make the text boxes occupy the full width of the container */
    padding: 8px; /* Increase the padding for the text boxes */
    margin-bottom: 12px; /* Increase the margin-bottom value to separate the text boxes */
    font-size: 16px; /* Increase the font-size for the text boxes */
    border-radius: 5px;
    border: 1px solid black;
}