*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

.navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px;
    display: flex;
    align-items: center;
}

    .navbar .logo {
        margin-right: auto;
    }

        .navbar .logo img {
            height: 60px;
        }

    .navbar ul {
        display: flex;
        align-items: center;
    }

    .navbar li {
        list-style-type: none;
        margin-left: 20px;
    }

        .navbar li button {
            color: white;
            background: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            transition: transform 0.3s, background-color 0.3s;
            padding: 5px 10px;
            border-radius: 5px;
        }

            .navbar li button:hover {
                color: #ffffff;
                background-color: #cc7f32;
                transform: scale(1.1);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }

        .navbar li:first-child {
            margin-left: 0;
        }
.bills-page{
            background: linear-gradient(to bottom, #ffffff, #4F0341);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
 }
 .buttons-container{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
 .buttons-container h1{
    font-size: 32px;
    margin-bottom: 20px;
        margin-bottom: 10px;
        text-align: right; /* Adjust the alignment to the right */
 }
 .loans-button,
 .utility-button,
 .ccbills-button {
     display: inline-block;
     color: white;
     background-color: #cc7f32;
     border: none;
     cursor: pointer;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     padding: 15px 25px;
     border-radius: 5px;
     text-decoration: none;
     transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
     margin: 0 10px;
 }
 
 .loans-button:hover,
 .utility-button:hover,
 .ccbills-button:hover,
 .reminders-button:hover{
         background-color: #cc7f32;
         transform: scale(1.1);
         box-shadow: 0 0 10px rgba(204, 127, 50, 0.7);
     }
     
     .reminders-button
      {
         position: absolute;
         top: 100px;
         left: 20px;
         color: white;
     background-color: #cc7f32;
     border: none;
     cursor: pointer;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     padding: 15px 25px;
     border-radius: 5px;
     text-decoration: none;
     transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
     margin: 0 10px;
     }

     
      