* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffffff, #4F0341);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 999;
  }

.navbar .logo {
    margin-right: auto;
}

.navbar .logo img {
    height: 60px; /* Adjust the height of the logo image as needed */
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    margin-left: 20px; /* Increase the margin for more spacing */
}

.navbar li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar li button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.CreditCard-page {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

.CreditCard-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.CreditCard-container h1 {
    font-size: 36px;
    font-weight: 600;
    background-color: transparent;
    padding: 0;
    color: #fff;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.table-container {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: 600;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

.view-transactions-button,
.redeem-points-button {
    color: white;
    background-color: #4F0341;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.view-transactions-button:hover,
.redeem-points-button:hover {
    background-color: #cc7f32
}
.view-transactions-button {
    color: white;
    background-color: #4F0341;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.view-transactions-button:hover {
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.redeem-container {
    display: flex;
    align-items: center;
}

.redeem-input {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.redeem-points-button {
    color: white;
    background-color: #4F0341;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.redeem-points-button:hover {
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.back-link {
    position: fixed;
    top: 100px;
    left: 20px;
    color: orange;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    z-index: 1000;
  }
  
  .back-link:hover {
    color: #cc7f32;
    transform: scale(1.1);
  }
  
  .back-link i {
    margin-right: 5px;
  }
  
  

