* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffffff, #4F0341);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
}

.navbar .logo {
    margin-right: auto; /* Push the logo to the left */
}

.navbar .logo img {
    height: 60px; /* Adjust the height of the logo image as needed */
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    margin-left: 20px; /* Increase the margin for more spacing */
}

.navbar li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar li button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar li:first-child {
    margin-left: 0;
}

.loan-details-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(to bottom, #ffffff, #4F0341);
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

.loan-details-container h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 70px;
    font-weight: 600;
    color: #4F0341;
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    background-color: linear-gradient(to bottom, #ffffff, #4F0341);
    border: 1px solid #fff;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}

th {
    background-color: linear-gradient(to bottom, #ffffff, #4F0341);
    font-weight: 600;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    color: white;
    background-color: #cc7f32;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    margin-right: 10px;
}

.button-container button:hover {
    color: #ffffff;
    background-color: #4F0341;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.back-link {
    position: fixed;
    top: 80px;
    left: 20px;
    color: orange;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    z-index: 1000;
  }
  
  .back-link:hover {
    color: #cc7f32;
    transform: scale(1.1);
  }
  
  .back-link i {
    margin-right: 5px;
  }