* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
  }
  
  .navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 999;
  }
  
  .navbar .logo {
    margin-right: auto;
  }
  
  .navbar .logo img {
    height: 60px;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  .navbar li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar li button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
  
  .login-register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #4F0341);
  }
  
  .login-register-container {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .login-register-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .login-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .login-form button {
    width: 150px;
    padding: 10px;
    background-color: #cc7f32;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .login-form button:hover {
    background-color: #9d5d20;
  }
  
  .login-register-container p {
    margin-top: 20px;
  }
  
  .login-register-container p a {
    color: #cc7f32;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-register-container p a:hover {
    color: #9d5d20;
  }
  
  .back-link {
    position: fixed;
    top: 100px;
    left: 20px;
    color: orange;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    z-index: 1000;
  }
  
  .back-link:hover {
    color: #cc7f32;
    transform: scale(1.1);
  }
  
  .back-link i {
    margin-right: 5px;
  }
  
  