* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffffff, #4F0341);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 999;
}

.navbar .logo {
    margin-right: auto;
}

.navbar .logo img {
    height: 60px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    margin-left: 20px;
}

.navbar li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar li button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar li:first-child {
    margin-left: 0;
}

.back-link {
    position: fixed;
    top: 100px;
    left: 20px;
    color: orange;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    z-index: 1000;
}

.back-link:hover {
    color: #cc7f32;
    transform: scale(1.1);
}

.back-link i {
    margin-right: 5px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.registration-btn {
    border-radius: 5px;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4F0341;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.registration-btn:hover {
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}




