* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-image: url('../img/backgroundToUse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
}

    .navbar .logo {
        margin-right: auto; /* Push the logo to the left */
    }

        .navbar .logo img {
            height: 60px; /* Adjust the height of the logo image as needed */
        }

    .navbar ul {
        display: flex;
        align-items: center;
    }

    .navbar li {
        list-style-type: none;
        margin-left: 20px; /* Increase the margin for more spacing */
    }

        .navbar li button {
            color: white;
            background: none;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            transition: transform 0.3s, background-color 0.3s;
            padding: 5px 10px;
            border-radius: 5px;
        }

            .navbar li button:hover {
                color: #ffffff;
                background-color: #cc7f32;
                transform: scale(1.1);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }

        /* Adjust the distance between the buttons */
        .navbar li:first-child {
            margin-left: 0;
        }

.homepage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

    .homepage-text h1 {
        font-family: 'El Messiri';
        font-size: 70px;
        margin-bottom: 10px;
        text-align: right; /* Adjust the alignment to the right */
    }

    .homepage-text h2 {
        font-family: 'El Messiri';
        font-size: 80px;
        margin-bottom: 10px;
        text-align: left; /* Adjust the alignment to the left */
    }

    .homepage-text p {
        font-size: 60px;
    }

.homepage-button,
.get-started-button {
    display: inline-block;
    color: white;
    background-color: #cc7f32;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px; /* Adjust the margin-top as needed */
}

.homepage-button:hover,
.get-started-button:hover {
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(204, 127, 50, 0.7);
}


    