* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
  }
  
  body {
    background: linear-gradient(to bottom, #ffffff, #4F0341);
  }
  
  .navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 999;
  }
  
  .navbar .logo {
    margin-right: auto;
  }
  
  .navbar .logo img {
    height: 60px;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  .navbar li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar li button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    border: 2px solid white;
    width: 700px;
    height: 400px;
    padding: 20px;
    margin: 0 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .BankAccount-info {
    text-align: center;
  }
  
  .BankAccount-info h2 {
    font-size: 20px;
  }
  
  .small-text {
    font-size: 12px;
  }
  
  .transaction-rows {
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
  }
  
  .row p {
    margin: 0;
    white-space: nowrap;
  }
  
  .row p.date {
    text-align: left;
  }
  
  .row p.amount {
    text-align: right;
  }
  
  .row p.amount.red {
    color: red;
  }
  
  .row p.amount.green {
    color: #047815;;
  }
  
  .row p:first-child {
    text-align: left; /* Align the first column to the left */
  }

  
  .row p:last-child {
    text-align: right; /* Align the last column to the right */
  }
  p {
    margin: 5px 0;
  }
  
  .back-link {
    position: fixed;
    top: 100px;
    left: 20px;
    color: #4F0341;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    z-index: 1000;
  }
  
  .back-link:hover {
    color: #4F0341;
    transform: scale(1.1);
  }
  
  .back-link i {
    margin-right: 5px;
  }
  