* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffffff, #4F0341);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #4F0341;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
    height: 50px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
}

.navbar .logo {
    margin-right: auto; /* Push the logo to the left */
}

.navbar .logo img {
    height: 60px; /* Adjust the height of the logo image as needed */
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    margin-left: 20px; /* Increase the margin for more spacing */
}

.navbar li button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar li button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar li:first-child {
    margin-left: 0;
}

.BankAccounts-page {
    background-color: transparent; /* Remove the white box background */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
    border-radius: 0; /* Remove border radius */
    box-shadow: none; /* Remove the box shadow */
}

.Bank-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.Bank-container h1 {
    font-size: 36px;
    font-weight: 600;
    background-color: transparent; /* Remove the white box background */
    padding: 0; /* Remove any padding */
    color: #fff;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add shadow effect */
}

.table-container {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: 600;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

.view-transactions-button,
.close-account-button {
    color: white;
    background-color: #4F0341;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.view-transactions-button:hover,
.close-account-button:hover {
    color: #ffffff;
    background-color: #cc7f32;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.highlight-row {
    background-color: red;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

   