* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}

body {
  background: linear-gradient(to bottom, #ffffff, #4F0341);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  background-color: #4F0341;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 999;
}

.navbar .logo {
  margin-right: auto;
}

.navbar .logo img {
  height: 60px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style-type: none;
  margin-left: 20px;
}

.navbar li button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar li button:hover {
  color: #ffffff;
  background-color: #cc7f32;
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar li:first-child {
  margin-left: 0;
}

.container {
  width: 500px;
  padding: 20px;
  border: 2px solid white;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  margin-top: 100px; /* Add margin-top to create space below the navbar */
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 30;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

table {
  width: 100%;
  color: white;
  margin-top: 40px;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

th,
td {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

td {
  color: white;
  white-space: nowrap;
  margin-right: 10px;
}

td:last-child {
  color: white;
}
.back-link {
  position: fixed;
  top: 100px;
  left: 20px;
  color: #4F0341;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
  z-index: 1000;
}

.back-link:hover {
  color:#4F0341;
  transform: scale(1.1);
}

.back-link i {
  margin-right: 5px;
}



